<div *ngFor="let area of areas" class="container-fluid d-block">
    <div>{{area.name}}</div>
    <div class="row ">
        <div class="container-fluid d-flex justify-content-start">
            <div *ngFor="let thing of things">
                <div *ngIf="thing.areaId == area.areaId" class="col">
                    <button class="btn btn-lg btn-my"> <sub class="my-fix1">{{thing.sku}}</sub>       <sup class="align-top my-fix">{{thing.defaultSku}}</sup> </button>
                </div>
            </div>
        </div>
    </div>
</div>