/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

html, body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #19263b;
    color: whitesmoke;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}